
<!-- <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721001600&semt=ais_user"> -->
<section class="py-5">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
                    <span class="text-muted">Our Story</span>
                    <h2 class="display-5 fw-bold">About Us</h2>
                    <p class="lead">I am a web developer with a passion for creating modern, functional, and user-friendly websites and web applications. My goal is to help businesses and organizations reach new heights in the digital world through reliable and efficient solutions.</p>
                    <p class="lead"> I leverage the latest technologies to bring ideas to life. I believe that every project is an opportunity to create something unique, and I am always ready to take on new challenges.</p>
                </div>
                
			</div>
			<div class="col-md-6 offset-md-1 order-1 order-md-2">
				<div class="row gx-2 gx-lg-3">
					<div class="col-6" >
						<div class="mb-2  " >
                            <img class="img-fluid rounded-3 img-shadow-dark"  src="https://img.freepik.com/free-vector/advanced-computer-skills-abstract-concept-illustration_335657-2255.jpg?uid=R168823958&ga=GA1.1.1831980044.1724277234&semt=ais_hybrid">
                           
                        </div>
					</div>    
				
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3 img-shadow-dark" src="https://img.freepik.com/premium-photo/isometric-perspective-computer-table-chair-furniture-cute-3d-cartoon-rendering_1110958-13103.jpg?uid=R168823958&ga=GA1.1.1831980044.1724277234&semt=ais_hybrid"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3 img-shadow-dark" src="https://img.freepik.com/free-vector/flat-design-api-illustration_23-2149392285.jpg?uid=R168823958&ga=GA1.1.1831980044.1724277234&semt=ais_hybrid"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3 img-shadow-dark" src="https://img.freepik.com/premium-vector/man-is-working-laptop-with-word-code-it_1013341-184761.jpg?uid=R168823958&ga=GA1.1.1831980044.1724277234&semt=ais_hybrid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>