<main class="container mt-4">
    <div class="p-4 p-md-5 mb-4 rounded  bg-body-secondary">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">What are Testnets?</h1>
        <p class="lead my-3 monospace">Testnets are blockchain testing environments where developers and users can experiment with new features, smart contracts, and applications without the risk of financial loss. They replicate the main network (mainnet) but use a different currency with no real-world value, allowing for safe testing and troubleshooting before deployment on the live network.</p>
        <p class="lead mb-0"><a (click)="onOpen()"    class="color-p fw-bold">Continue reading...</a></p>
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static bg-green">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Blockchain</strong>
            <h3 class="mb-0">Why Use Testnets?</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto monospace ">Testnets allow developers to refine their projects in a risk-free environment, ensuring stability and security before launching on the mainnet.</p>
            <a (click)="onOpen()"   class="icon-link gap-1 color-p icon-link-hover stretched-link" >
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block box-right">
            <img src="https://cdn-icons-png.flaticon.com/128/1171/1171570.png">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static bg-green">
            <strong class="d-inline-block mb-2 text-success-emphasis">Development</strong>
            <h3 class="mb-0">Popular Testnets</h3>
            <div class="mb-1 text-body-secondary">Nov 11</div>
            <p class="mb-auto monospace">Explore popular testnets like Ropsten, Goerli, and Kovan, each offering unique features and compatibility with different blockchain protocols.</p>
            <a (click)="onOpen()"  class="icon-link gap-1 color-p icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block box-right2">
            <img src="https://cdn-icons-png.flaticon.com/128/11310/11310196.png">
          </div>
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="icon-grid">
      <h2 class="pb-2 border-bottom">Testnet Insights</h2>
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
  
          <div class="col d-flex align-items-start">
             
              <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/11996/11996382.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Security Testing</h3>
                  <p>Testnets are essential for identifying vulnerabilities in smart contracts and protocols. They enable security audits and stress-testing before mainnet deployment, reducing risks of exploits.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/1652/1652223.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Developer Tools</h3>
                  <p>Tools like Hardhat, Truffle, and Remix support testnet integration, allowing developers to compile, deploy, and debug smart contracts in a test environment.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/10266/10266352.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Scalability Testing</h3>
                  <p>Testnets help developers experiment with scalability solutions such as sharding, layer-2 solutions, and rollups, allowing them to assess performance impacts without disrupting the mainnet.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/9517/9517826.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Testnet Nodes</h3>
                  <p>Running a node on a testnet allows developers to validate blocks, broadcast transactions, and gain deeper insights into network operations without needing to interact with the mainnet.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/10692/10692930.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Gas Fees and Limit Testing</h3>
                  <p>Testnets are used to evaluate gas fees, transaction speeds, and gas limits, ensuring that applications are optimized for cost-efficiency on the mainnet.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/10794/10794334.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Interoperability Testing</h3>
                  <p>Testnets allow developers to test cross-chain compatibility and interoperability, especially with protocols like Cosmos, Polkadot, and bridges between Ethereum and other blockchains.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/7525/7525884.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Simulating Network Conditions</h3>
                  <p>On testnets, developers can simulate various network conditions (e.g., high congestion) to observe how their dApps behave under different scenarios.</p>
              </div>
          </div>
  
          <div class="col d-flex align-items-start">
            <img class="bi text-body-secondary size flex-shrink-0 me-3"  src="https://cdn-icons-png.flaticon.com/128/3437/3437338.png">
              <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">User Interface Testing</h3>
                  <p>Testnets are commonly used to test user interfaces and interactions with dApps. Developers can gather feedback and make adjustments before going live on the mainnet.</p>
              </div>
          </div>
  
      </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://media.licdn.com/dms/image/D4D12AQGsqAnH6yISMw/article-cover_image-shrink_600_2000/0/1663212580092?e=2147483647&v=beta&t=HwIYumQZgQ6AU74OjDwhgJnZi7cXxrBqrBHWjf0AnjI" class="d-block mx-lg-auto my-img img-fluid" alt="Testnet Image" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h3 class="display-5 fw-bold text-body-emphasis  mb-3">Exploring Testnets: A Safe Space for Blockchain Innovation</h3>
      <p class="lead">Testnets offer a risk-free environment where developers can refine their blockchain projects. By simulating real blockchain networks without the use of actual funds, testnets enable thorough testing and debugging, allowing teams to ensure the reliability of their applications before deploying them on main networks.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">

        <button   (click)="onOpen()"  type="button" class="btn" style="background-color: #92ff92;">Get started</button>
      </div> 
    </div>
</div>

  </main>
  
