
          <div class="position-relative overflow-hidden p-3  text-center bg">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <h1 class="display-4 font-weight-normal text-white ">Weather & Crypto Dashboard</h1>
              <p class="lead font-weight-normal text-white ">Get the latest weather updates and cryptocurrency prices in one place.</p>
              <a class="btn btn-info text-white" href="/dashboard">
               
                My  Dashboard
            </a>
          
            </div>
            <div class="product-device product-device-1 shadow-sm d-none d-md-block">
               
            </div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block" >
                
            </div>
            
          </div>
      
          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden ">
              <div class="my-3 py-3">
                <h2 class="display-5">7-Day Weather Forecast</h2>
                <p class="lead">Get the latest 7-day weather predictions</p>
              </div>
              <div class="bg-light shadow-sm mx-auto img1 hover-container" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <div class="hover-text">
                    Stay ahead of the weather with our 7-day forecast.<br> Plan your week with confidence!
                    <a class="btn btn-info text-white" href="/dashboard">Try Now</a>
                </div>

              </div>
            </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden dark-mode">
              <div class="my-3 p-3">
                <h2 class="display-5">Crypto Nodes</h2>
                <p class="lead">Learn about cryptocurrency nodes</p>
              </div>
              <div class="bg-dark shadow-sm mx-auto img2 hover-container" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

                <div class="hover-text">
                    Explore how cryptocurrency nodes <br>work and how to set up your own.<br> Secure and maintain blockchain networks!
                    <a class="btn btn-info text-white" href="/crypto-nodes">Try Now</a>
                </div>

              </div>
            </div>
          </div>
      
          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden dark-mode">
              <div class="my-3 p-3">
                <h2 class="display-5">Testnets Overview</h2>
                <p class="lead">All you need to know about testnets</p>
              </div>
              <div class="bg-dark shadow-sm mx-auto img3 hover-container " style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <div class="hover-text">
                    Learn about blockchain testnets, their importance,<br> and how you can experiment with decentralized technologies.
                    <a class="btn btn-info text-white" href="/testnet-guide">Try Now</a>
                </div>

              </div>
            </div>
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">City Temperature Tracker</h2>
                    <p class="lead">Real-time temperature updates</p>
              </div>
              <div class="bg-light shadow-sm mx-auto img4 hover-container" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <div class="hover-text">
                    Track the real-time temperature of any city. <br>Stay updated on local weather conditions around the world.
                    <a class="btn btn-info text-white" href="/weather">Try Now</a>
                </div>

              </div>
            </div>
          </div>
<!--       
          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark  mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
              </div>
              <div class="bg-white shadow-sm mx-auto img5" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-dark  mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
              </div>
              <div class="bg-white shadow-sm mx-auto img6" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div>
          </div> -->

          <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden dark-mode">
              <div class="my-3 p-3">
                <h2 class="display-5">NFT Guide</h2>
                <p class="lead">Understanding the world of NFTs</p>
              </div>
              <div class="bg-white shadow-sm mx-auto img7 hover-container " style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <div class="hover-text">
                    Discover the fascinating world of NFTs. Learn how to create,<br> buy, and sell unique digital assets on the blockchain.
                    <a class="btn btn-info text-white" href="/nft-guide">Try Now</a>
                </div>

              </div>
            </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden ">
                <div class="my-3 py-3 dark-mode">
                    <h2 class="display-5">ChatGPT Insights</h2>
            <p class="lead">Explore AI and ChatGPT capabilities</p>
                </div>
                <div class="bg-white shadow-sm mx-auto img8 hover-container" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <div class="hover-text">
                        Dive into the world of artificial intelligence with ChatGPT.<br>See how AI can help automate tasks, answer questions, and more.
                        <a class="btn btn-info text-white" href="/Chat-gpt">Try Now</a>
                    </div>
            </div>
               
            </div>
           
          </div>
      
        
          
    